// Banner one area start here ***
.banner{
    position: relative;
    &__bg{
        width: 100%;
    }
    &__content{
        position: absolute;
        left: 100px;
        top: 38%;
        transform: translateY(-50%);
        width: 40%;
        h4{
            padding: 15px 0;
        }
    }
}
// Banner one area end here ***