// Section header area start here ***
.section-header {
	margin-bottom: 65px;
	h5 {
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	h2 {
		text-transform: capitalize;
		color: var(--primary-color);
	}
}
// Section header area end here ***

// Service area start here ***

// Service area end here ***
